@import "tailwindcss";

/* @theme { */

:root {
  --font-family-primary: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: #010c10;
  font-weight: 400;
}

:root {
  /* Body Colors */
  --body-level-0: #010c10;
  --body-level-1: #0f172a;
  --body-level-2: #1e293b;
  --body-level-3: #334155;
  --body-level-4: #475569;

  --body-level-5: #64748b;
  --body-level-6: #0d1c2480;
  --body-level-7: #0d1c24;
  --body-level-8: #0c1d25;
  --body-level-9: #16272f;

  --body-levl-10: #567484;
  /* Accent */
  --accent-blue: #10abe1;
  --accent-blue-hover: #0b7fa9;
  --cs-text-color: #ffffff80;
  --accent-blue-pressed: #065673;
  --hover-color: #1c323c;
  /* Typography */
  --typography-primary: #ffffff;
  --typography-secondary: #567484;

  /* Status */
  --green: #41bc2c;
  --white: #ffffff;

  /* Header */
  --header-height-sm: 64px;
  --header-height-lg: 58px;
  --strokeLinecap: 52px;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;

  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-56: 56px;
  --font-size-64: 64px;
}

@theme {
  --color-hover-color: var(--hover-color);
  --color-body-level-0: var(--body-level-0);
  --color-body-level-10: var(--body-level-10);
  --color-cs-text-color: var(--cs-text-color);
  --color-body-level-9: var(--body-level-9);
  --color-body-level-8: var(--body-level-8);
  --color-body-level-6: var(--body-level-6);
  --color-body-level-1: var(--body-level-1);
  --color-body-level-2: var(--body-level-2);
  --color-body-level-3: var(--body-level-3);
  --color-body-level-4: var(--body-level-4);
  --color-body-level-5: var(--body-level-5);
  --color-body-level-7: var(--body-level-7);
  --color-accent-blue: var(--accent-blue);
  --color-accent-blue-hover: var(--accent-blue-hover);
  --color-accent-blue-pressed: var(--accent-blue-pressed);
  --color-typography-primary: var(--typography-primary);
  --color-typography-secondary: var(--typography-secondary);
  --color-green: var(--green);
  --color-white: var(--white);
  --text-10: var(--font-size-10);
  --text-12: var(--font-size-12);
  --text-14: var(--font-size-14);
  --text-16: var(--font-size-16);
  --text-18: var(--font-size-18);
  --text-20: var(--font-size-20);
  --text-22: var(--font-size-22);
  --text-24: var(--font-size-24);
  --text-28: var(--font-size-28);
  --text-32: var(--font-size-32);
  --text-36: var(--font-size-36);
  --text-40: var(--font-size-40);
  --text-48: var(--font-size-48);
  --text-56: var(--font-size-56);
  --text-64: var(--font-size-64);
}

.lg\:h-\[var\(--header-height-lg\)\] {
  height: var(--header-height-lg);
}

.layout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1264px;
}

@media (min-width: 768px) {
  /* .layout-container {
    padding-left: var(--layout-px-md);
    padding-right: var(--layout-px-md);
  } */
}

@media (min-width: 1024px) {
  /* .layout-container {
    padding-left: var(--layout-px-lg);
    padding-right: var(--layout-px-lg);
  } */
}

@media (min-width: 1024px) {
  /* .lg\:layout-container {
    margin-left: auto;
    margin-right: auto;
   
    padding-left: var(--layout-px);
    padding-right: var(--layout-px);
  } */

  @media (min-width: 768px) {
    /* .lg\:layout-container {
      padding-left: var(--layout-px-md);
      padding-right: var(--layout-px-md);
    } */
  }

  /* .lg\:layout-container {
    padding-left: var(--layout-px-lg);
    padding-right: var(--layout-px-lg);
  } */
}

::-webkit-scrollbar {
  display: none;
}

.providers-sliders {
  overflow-x: auto;
  overflow-y: hidden;
}

.providers-sliders::-webkit-scrollbar {
  height: 8px;
  display: block !important;
}

.providers-sliders::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

.providers-sliders::-webkit-scrollbar-track {
  background: #222;
}

.search-modal {
  height: 100vh;
  background-color: #010c10e6;
}

.close-search {
  cursor: pointer;
}

.h-random {
  padding: 8px 0px;
}

.fs-6 {
  font-size: 11px;
}

.leading-none {
  font-size: 11px;
  color: var(--typography-secondary);
}

.left-image {
  background-image: url(../public/images/sign.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infinity-marquee-to-left {
  display: inline-flex;
  justify-content: flex-start !important;
  align-items: center;
  min-width: max-content;
  animation: infinity-marquee-left 25s linear infinite;
}

.infinity-marquee-to-left li {
  flex: 0 0 auto;
}

.infinity-marquee-to-left:hover {
  animation-play-state: paused;
}

@keyframes infinity-marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
